/* GENERAL SETTINGS */
$tooltip-bg: #121212 !important;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 10px;
}

body {
  background-color: #242424;
  color: white;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bg-custom-dark {
  background-color: #1a1a1a;
}
/* CONTEXT MENU */
.context-menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background-color: #121212;
  border-radius: 20px;
}

.context-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.context-menu ul li {
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.context-menu ul li:hover {
  background-color: #242424;
}

/* PRISM.JS */
pre.language-css {
  background-color: #2d2d2d;
  color: #56b6c2;
  border-radius: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token.selector {
  color: #ff6969;
}
.token.property {
  color: #c2a0db;
}
.token.punctuation {
  color: #ffcc65;
}

.custom-rounded {
  border-radius: 2.5rem;
}

.code-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.dot.red {
  background-color: #ff605c;
}
.dot.yellow {
  background-color: #ffbd44;
}
.dot.green {
  background-color: #00ca4e;
}

.copy-code,
.how-to-use {
  cursor: pointer;
  font-size: 16px;
  color: #929292;
  transition: all 0.2s ease-in-out;
}
.copy-code:hover,
.how-to-use:hover {
  color: rgb(195, 195, 195);
  background-color: #242424;
  border-radius: 8px;
}

/*  EDIT MENU  */

.edit-menu-wrapper {
  width: 50px;
  height: 50px;
  margin-inline-start: auto !important;
}

.edit-menu {
  user-select: none;
  cursor: pointer;
  font-size: 30px;
  color: #929292;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  z-index: 100;
  right: 0;
}

.edit-menu:hover {
  background-color: #2d2d2d;
  color: rgb(195, 195, 195);
}

.edit-menu.active {
  background-color: #2d2d2d;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.menu-content {
  user-select: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2d2d2d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.menu-item {
  font-size: 22px;
  color: #929292;
  background-color: transparent;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: #242424;
  color: rgb(195, 195, 195);
}

/*  INPUT RANGE */

.range-slider {
  -webkit-appearance: none;
  width: 250px;
  height: 2px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
/**/
.range-slider-white {
  -webkit-appearance: none;
  width: 250px;
  height: 2px;
  background: #1a1a1a;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.range-slider-white:hover {
  opacity: 1;
}

.range-slider-white::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #121212;
  cursor: pointer;
}

.range-slider-white::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #121212;
  cursor: pointer;
}

/* INPUT TEXT */
.text-input {
  margin-inline-start: 7px;
  max-width: 70px;
  padding: 4px;
  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #121212;
  color: white;
}

.text-input-white {
  background-color: #545454 !important;
}

.drop-input-white {
  background-color: #545454 !important;
}

.drop-input {
  margin-inline-start: 7px;
  max-width: 200px;
  padding: 4px;
  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #121212;
  color: white;
  cursor: pointer;
}

.drop-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* INPUT COLOR */
.color-input {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-inline-start: 7px;
  cursor: pointer;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

select option {
  font-size: 14px;
  padding: 8px 12px;
  color: rgb(195, 195, 195);
  cursor: pointer;
  background-color: #121212;
  border: none !important;
}

select option:checked {
  color: white;
  background-color: #2d2d2d;
}

/*  SIDEBAR AND HEADBAR  */

.sidebar {
  position: fixed;
  top: 10%;
  left: 45px;
  height: 450px;
  width: 80px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.sidebar-item,
.headbar-item {
  padding: 12px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  color: rgb(149, 149, 149);
  width: 40%;
  margin: 5px;
}

.sidebar-item:hover,
.headbar-item:hover {
  background-color: #2d2d2d;
  color: white;
  transform: scale(1.1);
  transform-origin: center;
}

.headbar {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 70px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 0 10px;
}

/*  BACKGROUND REMOVER MODAL  */

.dropzone {
  border: 4px dashed #ffffff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #2d2d2d;
  font-size: 26px;
  transition: color 0.3s ease;
}

.custom-dropzone-icon {
  color: rgb(170, 170, 170);
  margin: 15px;
  transition: transform 0.3s ease;
}

.dropzone:hover .custom-dropzone-icon {
  color: white;
  transform: scale(1.1);
}

.dropzone:hover {
  color: white;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  background-color: #2d2d2d;
  border-color: #343a40;
}

.custom-modal .modal-title,
.custom-modal .modal-body {
  color: #ffffff;
}

.custom-modal .btn {
  background-color: #242424;
  border-color: #121212;
  color: rgb(195, 195, 195);
}

.custom-modal .btn:hover {
  background-color: #121212;
  color: white;
}

.bg-custom-lightdark {
  background-color: #242424;
}

.modal-content {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
}

.modal-close-icon {
  color: rgb(195, 195, 195);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal-close-icon:hover {
  color: white;
  transform: scale(1.3);
}

/* LOGO ELEMENTIQUES */

.logo-container {
  position: absolute;
  top: 25px;
  left: 45px;
}

.elementique-logo {
  filter: brightness(80%) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.elementique-logo:hover {
  filter: brightness(105%) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  transform: scale(1.1);
}

/*  TOGGLE SWITCH  */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #545454;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2d2d2d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d2d2d;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
